$body-bg: lightgrey;


$primary: #3F69AA;
$secondary: #fff;
// Others variables ...

@font-face {
    font-family: 'ProductSansBold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ProductSansBold.ttf');
}

@font-face {
    font-family: 'ProductSans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ProductSansRegular.ttf');
}

* {
    font-family: 'ProductSans';
}

body {
    background: $body-bg;
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    color: black;
}